{# <div class="c-content-two" style="background-image:url({{TimberImage(acf.acf_field_two_left_image).src('large')}})"> #}
<div class="c-content c-content-text">
  <div class="o-layout-container o-layout-container--content">

      {{acf.acf_field_text_content}}

  </div>
</div>
