<div class="c-content c-content-big">
  <div class="o-layout-container">

    <div class="c-content-big__image">
      <img src="{{ TimberImage(acf.acf_field_big_image).src('large') }}" alt="{{acf.acf_field_big_image.alt}}">
    </div>

    <div class="o-layout-container--content">

      <div class="c-content-big__text js-move">
        <h2>{{acf.acf_field_big_title}}</h2>
        <p>{{acf.acf_field_big_content}}</p>
      </div>

    </div>
  </div>
</div>
