
<div class="o-social-icons">
  <a href="{{options.acf_site_field_twitter}}" class="o-social-icons__single" target="_blank">
    {% include 'partials/svg/twitter.twig' %}
  </a>
  <a href="{{options.acf_site_field_linkedin}}" class="o-social-icons__single" target="_blank">
    {% include 'partials/svg/linkedin.twig' %}
  </a>
  {# <a href="{{options.acf_site_field_email}}" class="o-social-icons__single">
    {% include 'partials/svg/email.twig' %}
  </a> #}
</div>
