{% if menu %}

	<ul>
	{% for item in menu %}
		<li class="{{item.classes | join(' ')}}">
			<a class="c-nav-primary__link" href="{{item.get_link}}">{{item.title}}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
