<div class="c-sidebar">

  <div class="c-sidebar__section">
    <h4 class="c-sidebar__heading">Categories</h4>
    <ul class="o-cat-list">
        {% for cat in categories %}
          {% if cat.count != 0 %}
            <li><a href="{{cat.link}}">{{cat.name}}</a></li>
          {% endif %}
        {% endfor %}
    </ul>
  </div>

  <div class="c-sidebar__section c-sidebar__section--archives">
    <h4 class="c-sidebar__heading">Archives</h4>
    <ul class="o-archive-list">
      {{function('wp_get_archives', '{{args}}')}}
    </ul>
  </div>
</div>
