.o-tooltip {
  position: absolute;
  right: 10%;
  top: 100%;
  top: calc(100% + 5px);
  padding: 5px 10px;
  color: $color-white;
  background-color: $color-black;
  opacity: 0;
  transition: opacity .2s ease-out;

  &.active {
    opacity: 1;
  }
}
